

*{
    padding: 0;
    margin: 0;
    }

    header{
        background-color: cadetblue;
        display:flex;
        justify-content: space-around;
        align-items: center;
        
        

    }
    header div{

        display:flex;
        gap: 8px;
        align-items: center;
    }

    header h1{
        color:white;
        
        }
        header ul {
            display:flex;
            gap: 10px;
            
        
        }
        header ul li{
        
            list-style: none;
            
           
        }
        
        header ul li a{
            text-decoration: none;
            font-size: 20px;
            color: white;
        }

        table{
            
 
            margin: 0 auto;
            margin-top: 30px;
           
        }

        table,th,td{
            font-size: larger;
            border: solid;
            border-collapse: collapse;
            text-align: center;
            height: 40px;
        }

        input {
            width: 60%;
            padding:  15px;
            margin:  16px;
            border: 0px ;
            
            
            
          }

          select{
            width: 50%;
            padding-top:  15px;
            padding-bottom: 10px;
            margin:  16px;
            border: 2px solid cadetblue;
            border-radius: 12px;
          }


        footer{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: cadetblue;

        
            padding-top: 4px;
            color: #fff;
        }
        .footer-content{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
        }
        .footer-content p{
            margin: 5px auto;
            font-size: 14px;
            color: #cacdd2;
        }
        .socials{
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
        .socials li{
            margin: 0 10px;
        }
        .socials a{
            text-decoration: none;
            color: #fff;
            padding: 3px;
        }
        .socials a i{
            width: 20px;
        }
       
        .footer-bottom{
            background: cadetblue;
            padding: 5px;
        padding-bottom: 5px;
            text-align: center;
        }
        .footer-bottom p{
        float: left;
            font-size: 12px;
            word-spacing: 2px;
            
        }
        .footer-bottom p a{
          color:#44bae8;
          font-size: 12px;
          text-decoration: none;
        }
       
        .footer-menu{
          float: right;
        
        }
        .footer-menu ul{
          display: flex;
        }
        .footer-menu ul li{
        padding-right: 10px;
        display: block;
        }
        .footer-menu ul li a{
          color: #cfd2d6;
          text-decoration: none;
        }
      
        
      